# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\py_projects\DASMN_versions\DASMN_revised_2020_11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
